---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

-> Requires TrueNAS 25.0 or later.

## Example Usage

{{ tffile "examples/resources/virt_config/main.tf" }}

## Import

The virtualization config is a singleton and can be imported using "virt_config":

```shell
terraform import truenas_virt_config.example virt_config
```

{{ .SchemaMarkdown | trimspace }}
